body {
    background-color: powderblue;
  }
  h1 {
    color: blue;
    text-align: center;
  }
  h2 {
    color: purple;
    text-align: center;  
  }
  h3 {
    font-size: 20px;
    color: red;
    background-color: transparent;
    text-decoration: underline;
    margin-bottom: 0px;
  }
  h4 {
    font-size: 16px;
    color: white;
  }
  p {
    color: red;
  }
  table {
    border: 1px solid aquamarine;
    font: 16px "Open Sans", Helvetica, Arial, sans-serif;
    border-spacing: 0;
    border-collapse: collapse;
  }
  th, td {
    padding: 15px;
  }
  .center {
    margin-left: auto;
    margin-right: auto;
  }
  .imagecenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
  }
  a:link {
    color: purple;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
    font-size: 20px;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
  #grad1 {
    background-image: linear-gradient(to right,powderblue,aquamarine,violet);
  }

  #grad2 {
    background-image: radial-gradient(circle, rgb(243, 169, 120),rgb(226, 200, 218),rgb(238, 113, 238));
  }